<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 600px;margin: auto;padding: 0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333">
<!-- gold bar -->
<table cellspacing="0" cellpadding="0" width="600px" class="header"
       style="border-bottom-style: solid;border-bottom-color: #F0AB00;border-bottom-width: 8px;padding-top: 13px;
       padding-bottom: 12px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
            <!--<table cellspacing="0" cellpadding="0">
                <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
                    <td class="logo" style="border-collapse: collapse;width: 61px;padding: 0;margin: 0">
                        <img src="http://www.coga.com.pe/media_coga/uploads/home/logo_coga/logo_orig_transp_543x343.png"
                             width="90" height="90"
                             style="border: 1px black;height: auto;line-height: 100%;outline: none;text-decoration: none"/>
                    </td>
                </tr>
            </table>-->
        </td>
        <td align="right" style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
            <!--<div class="companylogo" style="height: 45px;overflow: hidden">

                <img src="http://www.coga.com.pe/media_coga/uploads/home/logo_coga/logo_orig_transp_543x343.png"
                     width="100" height="100"
                     style="border: 0;height: 45px;line-height: 100%;outline: none;text-decoration: none;width: auto"/>

            </div>-->
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_first"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">
                Estimado(a), ${usuarioPublicacionName}</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;text-align: justify">
                Se le informa que la Factura <b>${codigoFactura}</b> correspondiente al Proveedor: <b>${proveedor}</b> se ha MODIFICADO
                <br/>

            </p>
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_last"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Atentamente,<br/>
                COGA - Compa&#xF1;&#xED;a Operadora de Gas S.A.C. </p>
        </td>
    </tr>
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">

        </td>
        <td align="right" style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
            <div class="companylogo" style="height: 45px;overflow: hidden">

                <img src="http://www.coga.com.pe/media_coga/uploads/home/logo_coga/logo_orig_transp_543x343.png"
                     width="100" height="100"
                     style="border: 0;height: 45px;line-height: 100%;outline: none;text-decoration: none;width: auto"/>

            </div>
            <p>&nbsp;</p>
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="colophon"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">
                Este correo electr&#xF3;nico puede contener secretos comerciales o informaci&#xF3;n privilegiada, no
                divulgada o
                confidencial.
                Si recibi&#xF3; este correo electr&#xF3;nico por error, se le notifica que cualquier revisi&#xF3;n,
                copia o
                distribuci&#xF3;n
                est&#xE1; estrictamente prohibida. Por favor, inf&#xF3;rmenos de inmediato y destruya la transmisi&#xF3;n
                original.
                Gracias por su cooperaci&#xF3;n.
            </p>
        </td>
    </tr>
</table>
<hr>

</body>
</html>